<div class="about-main">
  <h2>TweetSportsとは</h2>
  <p>
    SNSサービスです。
    様々なスポーツ観戦中の感想・分析を投稿することによって、
  </p>
  <p>
    他のユーザーと感想を共有し、一緒に盛り上がることができます。
  </p>
  <p>
    好きな内容の投稿ができます。またお気に入りの投稿には
    『いいね！』をすることができます。
  </p>

  <img class="about-img" src="スクリーンショット 2021-03-22 2.37.06.jpg">
</div>
 